In [1]:
import urllib 
import urllib.request ## for Python 3 users
import pandas as pd

In [2]:
tb_existing_url_csv = 'https://docs.google.com/spreadsheets/d/1X5Jp7Q8pTs3KLJ5JBWKhncVACGsg5v4xu6badNs4C7I/pub?gid=0&output=csv'
local_tb_existing_file = 'tb_existing_100.csv'
existing_f = urllib.request.urlretrieve(tb_existing_url_csv, local_tb_existing_file)
##Python 2 users should specify urllib.urlretrieve

In [3]:
existing_df = pd.read_csv(
    local_tb_existing_file, 
    index_col = 0, 
    thousands  = ',')
existing_df.index.names = ['country']
existing_df.columns.names = ['year']

##specified index_col to be 0 since we want the country names to be the
##row labels
## seperator is a comma

In [4]:
existing_df.head()

year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
country,,,,,,,,,,,,,,,,,,
Afghanistan,436,429,422,415,407,397,397,387,374,373,346,326,304,308,283,267,251,238
Albania,42,40,41,42,42,43,42,44,43,42,40,34,32,32,29,29,26,22
Algeria,45,44,44,43,43,42,43,44,45,46,48,49,50,51,52,53,55,56
American Samoa,42,14,4,18,17,22,0,25,12,8,8,6,5,6,9,11,9,5
Andorra,39,37,35,33,32,30,28,23,24,22,20,20,21,18,19,18,17,19

### k-means

In [5]:
from sklearn.cluster import KMeans

In [10]:
import numpy as np

In [6]:
kmeans = KMeans(n_clusters=5)#start with 5 clusters
clusters = kmeans.fit(existing_df) #implement it on data

In [15]:
existing_df$cluster = existing_clustering$clusters
table(existing_df$cluster)

SyntaxError: invalid syntax (<ipython-input-15-43339c65e3d4>, line 1)

#### store the cluster assignments together with each country in our data frame.