## Database- collection of data tables

In [1]:
import sqlite3

In [10]:


conn = sqlite3.connect("ipl/database.sqlite")
##Please download the data from 
## https://drive.google.com/open?id=1mSMmDtoXrTUWSjOzkZkSAphVXwha-qlP

In [11]:
cur = conn.cursor()

### List the tables present in the SQLite database

In [12]:
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [13]:
for name in res:
    print (name)

('Player',)
('Extra_Runs',)
('Batsman_Scored',)
('Batting_Style',)
('Bowling_Style',)
('Country',)
('Season',)
('City',)
('Outcome',)
('Win_By',)
('Wicket_Taken',)
('Venue',)
('Extra_Type',)
('Out_Type',)
('Toss_Decision',)
('Umpire',)
('Team',)
('Ball_by_Ball',)
('sysdiagrams',)
('sqlite_sequence',)
('Match',)
('Rolee',)
('Player_Match',)

### List first 5 records from the table City

In [17]:
cur.execute("select * from City limit 7;")

In [18]:
results = cur.fetchall()
print(results)

[(1, 'Bangalore', 1), (2, 'Chandigarh', 1), (3, 'Delhi', 1), (4, 'Mumbai', 1), (5, 'Kolkata', 1), (6, 'Jaipur', 1), (7, 'Hyderabad', 1)]

In [8]:
cur.close()
conn.close()#close connection

In [9]:
import pandas as pd

In [19]:
query = "SELECT * from City;" #select all the data from the table match

In [20]:
df = pd.read_sql_query(query,conn) #convert these data to df

In [22]:
df.tail()

    City_Id  City_Name  Country_id
24       25     Raipur           1
25       26     Ranchi           1
26       27  Abu Dhabi           3
27       28     Rajkot           1
28       29     Kanpur           1