In [22]:
import pandas as pd
import numpy as np

In [23]:
Movies = pd.read_csv("movies.csv")

In [24]:
Ratings = pd.read_csv("ratings.csv")

In [25]:
Tags = pd.read_csv("tags.csv")

In [26]:
Ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [28]:
Ratings_mean=Ratings.groupby(['movieId', 'rating']).mean()

In [29]:
Ratings_mean.head()

                    userId     timestamp
movieId rating
1       1.0     353.750000  1.029845e+09
        1.5     429.333333  1.349612e+09
        2.0     281.000000  1.134171e+09
        2.5     301.750000  1.287371e+09
        3.0     288.560976  1.034459e+09

In [30]:
Ratings_mean=Ratings_mean.rename(columns={'rating': 'Mean_rating'}, inplace=True)