## Read in HTML data

In [1]:
import pandas as pd
import html5lib

### specify the html to be read in

In [2]:
uss=pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [3]:
print(type(uss)) # #this is a list of dataframes

<type 'list'>

In [4]:
u = uss[0] #grab dataframe from index 0
print(type(u))

<class 'pandas.core.frame.DataFrame'>

### another url

In [5]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

dfs = pd.read_html(url) #this is a list of dataframes

print(type(dfs))

<type 'list'>

In [6]:
df = dfs[0] #list of dataframes
print(df)

                                             Bank Name                City  \
0                                  Fayette County Bank          Saint Elmo
1    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
2                                       First NBC Bank         New Orleans
3                                        Proficio Bank  Cottonwood Heights
4                        Seaway Bank and Trust Company             Chicago
5                               Harvest Community Bank          Pennsville
6                                          Allied Bank            Mulberry
7                         The Woodbury Banking Company            Woodbury
8                               First CornerStone Bank     King of Prussia
9                                   Trust Company Bank             Memphis
10                          North Milwaukee State Bank           Milwaukee
11                              Hometown National Bank            Longview
12                                 The Bank of Georgia      Peachtree City
13                                        Premier Bank              Denver
14                                      Edgebrook Bank             Chicago
15                              Doral Bank  En Espanol            San Juan
16                   Capitol City Bank & Trust Company             Atlanta
17                             Highland Community Bank             Chicago
18                    First National Bank of Crestview           Crestview
19                                  Northern Star Bank             Mankato
20              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
21               The National Republic Bank of Chicago             Chicago
22                                      NBRS Financial          Rising Sun
23                               GreenChoice Bank, fsb             Chicago
24                            Eastside Commercial Bank             Conyers
25                              The Freedom State Bank             Freedom
26                                         Valley Bank     Fort Lauderdale
27                                         Valley Bank              Moline
28                         Slavie Federal Savings Bank             Bel Air
29                               Columbia Savings Bank          Cincinnati
..                                                 ...                 ...
523                                  ANB Financial, NA         Bentonville
524                                          Hume Bank                Hume
525                             Douglass National Bank         Kansas City
526                                  Miami Valley Bank            Lakeview
527                                            NetBank          Alpharetta
528                          Metropolitan Savings Bank          Pittsburgh
529                                    Bank of Ephraim             Ephraim
530                                      Reliance Bank        White Plains
531              Guaranty National Bank of Tallahassee         Tallahassee
532                                Dollar Savings Bank              Newark
533                               Pulaski Savings Bank        Philadelphia
534              First National Bank of Blanchardville      Blanchardville
535                              Southern Pacific Bank            Torrance
536                        Farmers Bank of Cheneyville         Cheneyville
537                                      Bank of Alamo               Alamo
538             AmTrade International Bank  En Espanol             Atlanta
539                     Universal Federal Savings Bank             Chicago
540                       Connecticut Bank of Commerce            Stamford
541                                   New Century Bank     Shelby Township
542                              Net 1st National Bank          Boca Raton
543                                       NextBank, NA             Phoenix
544                           Oakwood Deposit Bank Co.             Oakwood
545                              Bank of Sierra Blanca       Sierra Blanca
546                      Hamilton Bank, NA  En Espanol               Miami
547                             Sinclair National Bank            Gravette
548                                 Superior Bank, FSB            Hinsdale
549                                Malta National Bank               Malta
550                    First Alliance Bank & Trust Co.          Manchester
551                  National State Bank of Metropolis          Metropolis
552                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution        Closing Date  \
0    IL   1802            United Fidelity Bank, fsb        May 26, 2017
1    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
2    LA  58302                         Whitney Bank      April 28, 2017
3    UT  35495                    Cache Valley Bank       March 3, 2017
4    IL  19328                  State Bank of Texas    January 27, 2017
5    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
6    AR     91                         Today's Bank  September 23, 2016
7    GA  11297                          United Bank     August 19, 2016
8    PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
9    TN   9956           The Bank of Fayette County      April 29, 2016
10   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
11   WA  35156                       Twin City Bank     October 2, 2015
12   GA  35259                        Fidelity Bank     October 2, 2015
13   CO  34112            United Fidelity Bank, fsb       July 10, 2015
14   IL  57772             Republic Bank of Chicago         May 8, 2015
15   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
16   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
17   IL  20290            United Fidelity Bank, fsb    January 23, 2015
18   FL  17557                       First NBC Bank    January 16, 2015
19   MN  34983                            BankVista   December 19, 2014
20   CA  34738    Bank of Southern California, N.A.    November 7, 2014
21   IL    916                  State Bank of Texas    October 24, 2014
22   MD   4862                          Howard Bank    October 17, 2014
23   IL  28462                 Providence Bank, LLC       July 25, 2014
24   GA  58125            Community & Southern Bank       July 18, 2014
25   OK  12483      Alva State Bank & Trust Company       June 27, 2014
26   FL  21793  Landmark Bank, National Association       June 20, 2014
27   IL  10450                  Great Southern Bank       June 20, 2014
28   MD  32368                        Bay Bank, FSB        May 30, 2014
29   OH  32284            United Fidelity Bank, fsb        May 23, 2014
..   ..    ...                                  ...                 ...
523  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
524  MO   1971                        Security Bank       March 7, 2008
525  MO  24660       Liberty Bank and Trust Company    January 25, 2008
526  OH  16848         The Citizens Banking Company     October 4, 2007
527  GA  32575                           ING DIRECT  September 28, 2007
528  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
529  UT   1249                        Far West Bank       June 25, 2004
530  NY  26778                     Union State Bank      March 19, 2004
531  FL  26838              Hancock Bank of Florida      March 12, 2004
532  NJ  31330                          No Acquirer   February 14, 2004
533  PA  27203                       Earthstar Bank   November 14, 2003
534  WI  11639                        The Park Bank         May 9, 2003
535  CA  27094                            Beal Bank    February 7, 2003
536  LA  16445            Sabine State Bank & Trust   December 17, 2002
537  TN   9961                          No Acquirer    November 8, 2002
538  GA  33784                          No Acquirer  September 30, 2002
539  IL  29355               Chicago Community Bank       June 27, 2002
540  CT  19183                   Hudson United Bank       June 26, 2002
541  MI  34979                          No Acquirer      March 28, 2002
542  FL  26652                       Bank Leumi USA       March 1, 2002
543  AZ  22314                          No Acquirer    February 7, 2002
544  OH   8966       The State Bank & Trust Company    February 1, 2002
545  TX  22002     The Security State Bank of Pecos    January 18, 2002
546  FL  24382     Israel Discount Bank of New York    January 11, 2002
547  AR  34248                   Delta Trust & Bank   September 7, 2001
548  IL  32646                Superior Federal, FSB       July 27, 2001
549  OH   6629                    North Valley Bank         May 3, 2001
550  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
551  IL   3815              Banterra Bank of Marion   December 14, 2000
552  HI  21029                   Bank of the Orient    October 13, 2000

           Updated Date
0         July 26, 2017
1         July 26, 2017
2         July 26, 2017
3          May 18, 2017
4          May 18, 2017
5          May 18, 2017
6     November 17, 2016
7          June 1, 2017
8     September 6, 2016
9     September 6, 2016
10       March 13, 2017
11       April 13, 2016
12     October 24, 2016
13      August 17, 2016
14        July 12, 2016
15         May 13, 2015
16       April 21, 2015
17       April 21, 2015
18          May 8, 2017
19      January 6, 2016
20    November 10, 2016
21      January 6, 2016
22       March 26, 2015
23    December 12, 2016
24        July 11, 2016
25       March 25, 2016
26        June 29, 2015
27        June 26, 2015
28    December 12, 2016
29    November 10, 2016
..                  ...
523     August 28, 2012
524     August 28, 2012
525    October 26, 2012
526  September 12, 2016
527     August 28, 2012
528    October 27, 2010
529       April 9, 2008
530       April 9, 2008
531        June 5, 2012
532       April 9, 2008
533       July 22, 2005
534        June 5, 2012
535    October 20, 2008
536    October 20, 2004
537      March 18, 2005
538  September 11, 2006
539       April 9, 2008
540   February 14, 2012
541      March 18, 2005
542       April 9, 2008
543    February 5, 2015
544    October 25, 2012
545    November 6, 2003
546  September 21, 2015
547   February 10, 2004
548     August 19, 2014
549   November 18, 2002
550   February 18, 2003
551      March 17, 2005
552      March 17, 2005

[553 rows x 7 columns]

In [7]:
whsSK=pd.read_html('https://en.wikipedia.org/wiki/List_of_World_Heritage_Sites_in_South_Korea')

In [8]:
whs_sk = whsSK[0] #grab dataframe from index 0
print(whs_sk)

                                                    0      1  \
0                                                Site  Image
1                               Baekje Historic Areas    NaN
2            Gochang, Hwasun and Ganghwa Dolmen Sites    NaN
3                        Changdeokgung Palace Complex    NaN
4                             Gyeongju Historic Areas    NaN
5   Haeinsa Temple Janggyeong Panjeon, the Deposit...    NaN
6      Historic Villages of Korea: Hahoe and Yangdong    NaN
7                                   Hwaseong Fortress    NaN
8                 Jeju Volcanic Island and Lava Tubes    NaN
9                                      Jongmyo Shrine    NaN
10                                     Namhansanseong    NaN
11                  Royal Tombs of the Joseon Dynasty    NaN
12               Seokguram Grotto and Bulguksa Temple    NaN

                                                    2  \
0                                            Location
1   KorSouth Chungcheong and North Jeolla 36°27′43...
2   KorIncheon North Jeolla South Jeolla 34°58′0.0...
3   KorSeoul 37°33′00″N 126°59′00″E﻿ / ﻿37.55000°N...
4   KorNorth Gyeongsang 35°47′20″N 129°13′36″E﻿ / ...
5   KorSouth Gyeongsang 35°48′00″N 128°06′00″E﻿ / ...
6   KorNorth Gyeongsang 36°32′21″N 128°31′00″E﻿ / ...
7   KorGyeonggi 37°16′20″N 127°00′30″E﻿ / ﻿37.2722...
8   KorJeju 33°28′08″N 126°43′13″E﻿ / ﻿33.46889°N ...
9   KorSeoul 37°33′00″N 126°59′00″E﻿ / ﻿37.55000°N...
10  KorGyeonggi 37°28′44″N 127°10′52″E﻿ / ﻿37.4788...
11  KorGyeonggi and Seoul 37°11′50″N 128°27′10″E﻿ ...
12  KorNorth Gyeongsang 35°47′00″N 129°21′00″E﻿ / ...

                                3                                   4     5  \
0                        Criteria                      Area ha (acre)  Year
1       Cultural:KorBae (ii)(iii)       7006135000000000000♠135 (330)  2015
2           Cultural:KorCha (iii)                                   —  2000
3   Cultural:KorCha (ii)(iii)(iv)                                   —  1997
4       Cultural:KorGye (ii)(iii)   7007288000000000000♠2,880 (7,100)  2000
5        Cultural:KorHae (iv)(vi)                                   —  1995
6       Cultural:KorHis (iii)(iv)     7006600000000000000♠600 (1,500)  2010
7       Cultural:KorHwa (ii)(iii)                                   —  1997
8      Natural:KorJej (vii)(viii)  7007947500000000000♠9,475 (23,410)  2007
9            Cultural:KorJon (iv)         7005190000000000000♠19 (47)  1995
10       Cultural:KorNam (ii)(iv)     7006409000000000000♠409 (1,010)  2014
11  Cultural:KorRoy (iii)(iv)(vi)   7007189100000000000♠1,891 (4,670)  2009
12        Cultural:KorSeo (i)(iv)                                   —  1995

              6
0   Description
1           [9]
2          [10]
3          [11]
4          [12]
5          [13]
6          [14]
7          [15]
8          [16]
9          [17]
10         [18]
11         [19]
12         [20]

### #page with 1+ table

In [9]:
whsPH=pd.read_html('https://en.wikipedia.org/wiki/List_of_World_Heritage_Sites_in_the_Philippines')

In [10]:
whs_phl = whsPH[2] #grab dataframe from index 1, table 2 of the tentative WHS sites
print(whs_phl)

                                                   0  \
0  Investigation of potential copyright issue Ple...
1  If you have just labeled this page as a potent...
2  The previous content of this page or section h...
3  Can you help resolve this issue? For more deta...
4  About importing text to Wikipedia For more det...

                                                   1
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  Instructions for filing If you have tagged the...