# Logistic Regression
## classification with binary response variable

In [86]:
train=pd.read_csv("trainT.csv")
test=pd.read_csv("testT.csv")

In [87]:
train.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [88]:
df=train[['Survived','Pclass','Sex','Age','Fare']]

In [90]:
df.head(5)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [91]:
#change male to 1 and female to 0
df["Sex"] = df["Sex"].apply(lambda sex:1 if sex=="male" else 0)

C:\Users\Minerva\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [93]:
df.head(5) #sex as ctegorical varible

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [94]:
#handle missing values of age
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Fare"] = df["Fare"].fillna(df["Fare"].median())

C:\Users\Minerva\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Minerva\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [95]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [96]:
X_train = df.drop("Survived", axis=1) #predictors from training 
Y_train = df["Survived"]

In [97]:
logreg = LogisticRegression() #define the logistic regression model
logreg.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
## lets look at the test data

In [73]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [75]:
X_test=test[['Pclass','Sex','Age','Fare']]

In [82]:
X_test["Sex"] = X_test["Sex"].apply(lambda sex:1 if sex=="male" else 0)

In [83]:
X_test.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [77]:
X_test["Age"] = X_test["Age"].fillna(X_test["Age"].median())

C:\Users\Minerva\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [79]:
X_test=X_test.dropna()

In [80]:
X_test.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [84]:
X_test.head(5)

   Pclass  Sex   Age     Fare
0       3    1  34.5   7.8292
1       3    0  47.0   7.0000
2       2    1  62.0   9.6875
3       3    1  27.0   8.6625
4       3    0  22.0  12.2875

In [100]:
Y_pred = logreg.predict(X_test)

In [103]:
acc_log = round(logreg.score(X_train, Y_train) * 100, 2) #accuracy of the model
acc_log

79.12

In [105]:
X_train.head(3)

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250

In [106]:
Y_train.head(3)

0    0
1    1
2    1
Name: Survived, dtype: int64

In [107]:
g=X_train[['Sex']]

In [108]:
logreg = LogisticRegression() #define the logistic regression model
logreg.fit(g, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [113]:
gT=X_test[['Sex']]

In [114]:
gT.head(4)

   Sex
0    1
1    0
2    1
3    1

In [115]:
preds = logreg.predict_proba(gT)

In [116]:
preds = pd.DataFrame(preds)
preds.columns = ["Death_prob", "Survival_prob"]

In [117]:
# Generate table of predictions vs Sex
pd.crosstab(train["Sex"], preds.ix[:, "Survival_prob"]) #predict the probability of survival according to gender

C:\Users\Minerva\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  from ipykernel import kernelapp as app

Survival_prob  0.193125  0.731113
Sex
female              100        59
male                165        93

# Test for Classification Accuracy

In [ ]:
train=pd.read_csv("trainT.csv")

In [ ]:
df=train[['Survived','Pclass','Sex','Age','Fare']]

In [ ]:
#change male to 1 and female to 0
df["Sex"] = df["Sex"].apply(lambda sex:1 if sex=="male" else 0)

In [ ]:
#handle missing values of age
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Fare"] = df["Fare"].fillna(df["Fare"].median()) #more immune to outliers

In [120]:
df.head(7)

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500
5         0       3    1  28.0   8.4583
6         0       1    1  54.0  51.8625

In [121]:
X= df.drop("Survived", axis=1)
Y = df["Survived"]

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .3, random_state=25) #30% hold out for testing

In [124]:
logreg = LogisticRegression() #define the logistic regression model
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [125]:
Y_pred = logreg.predict(X_test) #predict the response variable based on predictors in the test set

In [126]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, Y_pred)
confusion_matrix

array([[136,  29],
       [ 33,  70]])

In [127]:
from sklearn.metrics import accuracy_score

In [128]:
accuracy_score(y_test, Y_pred) #compare with the actual y values, y_test (hold outs) with predicted y

0.76865671641791045

In [130]:
from sklearn.metrics import cohen_kappa_score
cohen_kappa_score(y_test, Y_pred) #Scores above .8 are generally considered good agreement;

0.50755734692667887

In [131]:
from sklearn.metrics import classification_report

In [132]:
report = classification_report(y_test, Y_pred)
print(report)

             precision    recall  f1-score   support

          0       0.80      0.82      0.81       165
          1       0.71      0.68      0.69       103

avg / total       0.77      0.77      0.77       268